@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* CSS HEX */
		--color-midnight: #000000ff;
		--color-bg: #07063dff;
		--color-secondary-bg: #212b48;
		--color-tertiary-bg: #539ed6;
		--color-action: #724be4ff;
		--color-important: #87ceebff;
		--color-snow: #e5e5e5ff;
		--color-dark-snow: #a0a0a0;
	}

	html {
		font-family: "Montserrat", sans-serif;
		background: var(--color-bg);
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		color: var(--color-snow);
	}
}
