.wave {
    background-image: url("https://raw.githubusercontent.com/Trident09/myportfolio/main/src/Assets/wave.png");
    background-size: 1000px 100px;
}

#wave1 {
    z-index: 10;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

#wave2 {
    z-index: 9;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

#wave3 {
    z-index: 10;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave_02 3s linear infinite;
}

#wave4 {
    z-index: 9;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}